/*
Error: Invalid CSS after "...variables.scss'": expected "{", was ";"
        on line 2 of sass/main.scss

1: <<<<<<< HEAD
2: @import '_variables.scss';
3: =======
4: >>>>>>> a7ea594ebbbcead86f32b9a3bfdbc4b5c1a79688
5: @import '_mixins.scss';
6: @import '_globals.scss';
7: 

Backtrace:
sass/main.scss:2
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1120:in `tok!'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:656:in `block'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:649:in `ruleset'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:665:in `block_contents'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...variables.scss'\": expected \"{\", was \";\"\A         on line 2 of sass/main.scss\A \A 1: <<<<<<< HEAD\A 2: @import '_variables.scss';\A 3: =======\A 4: >>>>>>> a7ea594ebbbcead86f32b9a3bfdbc4b5c1a79688\A 5: @import '_mixins.scss';\A 6: @import '_globals.scss';\A 7: "; }
