$blue:#5c5ce1;
$yellow:#d7431c;

/* ----------------------------

RESETS

---------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* ----------------------------

HELPERS

---------------------------- */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
.clear{
	clear:both;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* ----------------------------

GLOBAL STYLES

---------------------------- */
body{
	-webkit-font-smoothing:antialiased;
	font-family:'Lato',sans-serif;
	background: $blue;
	background: -moz-linear-gradient(-45deg,  $blue 0%, $yellow 100%);
	background: -webkit-linear-gradient(-45deg,  $blue 0%,$yellow 100%);
	background: linear-gradient(135deg,  $blue 0%,$yellow 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$blue, endColorstr=$yellow,GradientType=1 ); 
	padding:10px;	
}

#main{
	position:relative;
	top:0;left:0;
	width:100%;
	background:white;
	overflow:hidden;
}

.container{
	position:relative;
	width:100%;
	max-width:1400px;
	margin:0 auto;
	padding:0 30px;
}

section{
	padding:60px 0 0 0;
}
.say-hello{
	text-align:center;
	padding-bottom:250px;
	img{
		display:block;
		width:100%;
		max-width:500px;
		margin:0 auto;
	}
	p{
		font-size: 28px;
		line-height:38px;
		max-width:800px;
		margin:60px auto 0 auto;
	}
	a{
		color:$yellow;
		@include transition(color 1s $easeOutExpo);
    &:hover{
    	color:$blue;
    }
	}
}
.lift{
	@include opacity(0);
	@include translate(0,400px);
	@include transition(all 1.2s $easeOutExpo);
	&.active{
		@include opacity(1);
		@include translate(0,0);
	}
}
.role{
	width:100%;
	padding:30px 0 20px 0;
	text-align:center;
	font-size:28px;
	font-weight:300;
}
.col-1{
	width:100%;
	text-align:center;
	img{
		display:block;
		width:100%;
		padding:50px 0;
	}
	h3{
		margin-bottom:20px;
	}
	p{
		max-width:850px;
		margin:0 auto;
	}
}
.project{
	padding-top:0;
	padding-bottom:250px;
}
.work-btn{
		display:inline-block;
		width:100%;
		max-width:300px;
		margin:40px auto 0 auto;
		font-size:16px;
		color:#d46a6c;
		background: #9962a6;
		background: -moz-linear-gradient(-45deg,  #9962a6 0%, $yellow 100%);
		background: -webkit-linear-gradient(-45deg,  #9962a6 0%,$yellow 100%);
		background: linear-gradient(135deg,  #9962a6 0%,$yellow 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#9962a6, endColorstr=$yellow,GradientType=1 ); 
		padding:2px;
		//@include transition(color 0.8s $easeOutExpo);
		span{
			display:block;
			background:white;
	    width:100%;
	    height:100%;
	    padding:12px 20px;
	    @include transition(background 0.8s $easeOutExpo);
		}
		&:hover{
			span{
				background:transparent;
			}
			color:white;
		}
	}
.col-1-2{
	width:50%;
	float:left;
	img{
		display:block;
		width:100%;
	}
}
.col-1-3{
	width:33.33333%;
	float:left;
	img{
		display:block;
		width:100%;
	}
}

.hero{
	position:relative;
	width:100%;
	height:1000px;
	background:url(../img/hero.jpg) no-repeat center;
	background-size:cover;
}


h2{
	font-weight:300;
	font-size:44px;
	line-height:44px;
	padding-bottom:80px;
}

.info-content{
	position:relative;
	width:100%;
	margin-top:-60px;
	@include transition(opacity 0.8s $easeOutExpo);
	ul{
		margin-top:30px;
		width:50%;
		float:left;
		li{
			font-size:18px;
			line-height:36px;
			font-weight:300;
		}
	}
	.intro{
		strong{
			display:block;
			font-size:28px;
			margin-bottom:20px;
		}
		img{
			margin-top:0px;
		}
	}
	.skills{
		margin-top:250px;
		img{
			margin-top:30px;
		}
	}
	.people{
		width:100%;
		max-width:1024px;
		margin:250px auto 250px auto;
		text-align:center;
		p{
			max-width:900px;
			margin:0 auto;
			a{
				color:#a24d71;
				@include transition(color 1s $easeOutExpo);
        &:hover{
        	color:$blue;
        }
			}
		}
		ul{
			width:33.33333%;
			float:left;
			&:nth-child(2){
				margin-top:100px;
			}
			li{
				font-size:18px;
				line-height:24px;
				font-weight:300;
				strong{
					font-weight:700;
				}
				img{
					//border-radius:50%;
					width:100%;
					max-width:230px;
					padding-bottom:20px;
				}
			}
		}
		ul.socials{
			width:300px;
			margin:15px auto 0 auto;
			text-align:center;
			float:none;
			li{
				display:inline;
				padding:0 12px;
				font-size:15px;
				border-right:1px solid #ddd;
				&:last-child{
					border:none;
				}
				a{
					color:#999;
	        @include transition(color 1s $easeOutExpo);
	        &:hover{
	        	color:black;
	        }
	        &.active{
	        	color:black;
	        }
				}
			}
		}
	}
}

.hiring{
		width:100%;
		margin:0 auto;
		padding:180px 0 140px 0;
		background:url(../img/gray-brush-bg.png) repeat-x top;
		div{
			text-align:center;
	    p{
	    	text-align:center;
	    	font-size:30px;
	    	line-height:30px;
	    }
	    a{
    		display:inline-block;
    		width:100%;
    		max-width:450px;
    		margin:40px auto 0 auto;
    		font-size:18px;
    		color:#d46a6c;
    		background: #9962a6;
				background: -moz-linear-gradient(-45deg,  #9962a6 0%, $yellow 100%);
				background: -webkit-linear-gradient(-45deg,  #9962a6 0%,$yellow 100%);
				background: linear-gradient(135deg,  #9962a6 0%,$yellow 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#9962a6, endColorstr=$yellow,GradientType=1 ); 
				padding:2px;
				@include transition(color 0.8s $easeOutExpo);
				span{
					display:block;
					background:white;
			    width:100%;
			    height:100%;
			    padding:15px 20px;
			    @include transition(background 0.8s $easeOutExpo);
				}
				&:hover{
					span{
						background:transparent;
					}
					color:white;
				}
    	}
		}
	}

h3{
	display:block;
	width:100%;
	font-weight:300;
	font-size:50px;
	line-height:50px;
	margin-bottom:60px;
}

p{
	font-weight:300;
	font-size:18px;
	line-height:36px;
}

header{
	width:100%;
	padding:50px 0 170px 0;
	.container{

	}
	.logo{	
		img{
			display:block;		
		}
	}
	nav{
		display:none;
		position:absolute;
	  right:80px;top:30px;
	  height: 19px;
	  cursor: pointer;
	  z-index: 999;
	  li{
	  	font-size:18px;
	  	line-height:19px;
	  	display:block;
	  	float:left;
	  	margin:0 20px;
	  	@include translate(0,-50px);
	  	@include transition(all 0.8s $easeOutExpo);
	  	&.active{
	  		@include translate(0,0);
	  	}
	  	a{
        color:#999;
        @include transition(color 1s $easeOutExpo);
        &:hover{
        	color:black;
        }
        &.active{
        	color:black;
        }
	  	}
	  }
	}
	#menu-sandwich {
	  position:absolute;
	  display:block;
	  right:30px;top:30px;
	  width: 30px;
	  height: 19px;
	  cursor: pointer;
	  z-index: 999;
	}
	#menu-sandwich span {
	  height: 0px;
	  width: 30px;
	  border-top: 3px solid transparent;
	  -moz-border-image: -moz-linear-gradient(top left, $blue 0%, $yellow 100%);
      -webkit-border-image: -webkit-linear-gradient(top left, $blue 0%, $yellow 100%);
      border-image: linear-gradient(to bottom right, $blue 0%, $yellow 100%);
      border-image-slice: 1;
	  position: absolute;
	  display: block;
	  content: '';
	  @include transform(rotate(0));
	  @include transition(transform 0.6s $easeOutExpo);
	}
	#menu-sandwich span:nth-child(1) {
	  top: 0px;
	}
	#menu-sandwich span:nth-child(2) {
	  top: 8px;
	}
	#menu-sandwich span:nth-child(3) {
	  bottom: 0px;
	}
	#menu-sandwich.active span:nth-child(1) {
	  top:8px;  
	  @include transform(rotate(-45deg));
	}
	#menu-sandwich.active span:nth-child(2) {
	  opacity:0;
	}
	#menu-sandwich.active span:nth-child(3) {
	  bottom:8px;  	  
	  @include transform(rotate(45deg));
	}
}


.contact-us-cta{
	padding:120px 0;
	background:#a94c66;
	color:white;
}

footer{
	padding:100px 0;
	background:transparent;
	ul{
		float:left;
		li{
			display:block;
			float:left;
			margin:0 25px 0 0;
			font-size:18px;
			a{
				color:white;
				@include transition(opacity 1s $easeOutExpo);
		    &:hover{
		    	@include opacity(0.5);
		    }
			}
		}
	}
	.copyright{
		float:right;
		display:block;
		color:white;
		font-size:18px;
		@include opacity(0.5);
	}
}

/* ----------------------------

TYPOGRAPHY

---------------------------- */
li{
	list-style:none;
	
}
a{
	text-decoration:none;
}
