/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

Resets

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

Helpers

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
.clear{
	clear:both;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flex-center-v{
    display: flex;
    align-items: center;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

Globals

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
html,body{
	height:100%;
	-webkit-font-smoothing:antialiased;
    font-family:'Montserrat', sans-serif;
    font-weight:400;
    color:#555;
}
#main{
	width:100%;
    height:100%;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

Grid

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.container{
	position:relative;
	width:100%;
	max-width:1100px;
	margin:0 auto;
}
section{
	padding:0;
}
.row{
	
}
.col-1-2{
	width:50%;
	float:left;
}
.col-1-3{
	width:33.33333%;
	float:left;
}
.col-1-4{
	width:25%;
	float:left;
}
.border-bottom{
    border-bottom:1px solid #ddd;
}
.btn_primary{
    display:inline-block;
    border:none;
    background:$blue;
    color:white;
    border-radius:10px;
    height:50px;
    padding:0 20px;
    width:100%;
    max-width:250px;
    font-size:18px;
    font-family:'Montserrat', sans-serif;
    text-transform:uppercase;
    cursor:pointer;
    @include transition(all 0.8s $easeOutExpo);
    &:hover{
       background: lighten($blue, 10%);
    }
    &:focus{
        outline:none;
    }
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

Type

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
p{
    font-family:'Lato', sans-serif;
}
.section-copy{
    width:100%;
    .section-label{
        display:block;
        font-size:14px;
        margin-bottom:5px;
        color:$blue;
    }
    h3{
        font-size:40px;
        line-height:45px;
        margin-bottom:40px;
    }
    p{
        font-size:18px;
        line-height:30px;
        color:#999;
    }
}
.col-1-2 .section-copy{
    max-width:550px;
    padding-left:60px;
}
.scroll-to-link{
    cursor:pointer;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

Header

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
header{
    position:fixed;
    z-index:999;
    background:rgba(255,255,255,0.9);
    width:100%;
    height:100px;
	top:0;
    left:0;
    border-bottom:1px solid #ddd;
    .container{
        height:100%;
    }
    .logo{
        padding-top:15px;
        margin-left:0;
    }
    nav{
        position:absolute;
        top:0;
        right:0;
        li{
            display:inline;
            height:100px;
            font-size:14px;
            line-height:100px;
            text-transform:uppercase;
            margin-left:30px;
            @include opacity(0.5);
            @include transition(opacity 0.8s $easeOutExpo);
            &:hover{
                @include opacity(1);
            }
            &.active{
                @include opacity(1);
            }
        }
     
    }
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

Hero

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero{
    position:relative;
    width:100%;
    height:100%;
    background:url(../img/village-hero-girl.jpg) no-repeat center;
    background-size:cover;
    .container{
        height:100%;
    }
    .col-1-2{
        float:right;
        height:100%;
    }
    .hero-copy{
        max-width:480px;
        h1{
            font-size:70px;
            line-height:75px;
            color:white;
        }
        h2{
            font-size:28px;
            line-height:38px;
            font-family:'Lato', sans-serif;
            color:rgba(255,255,255,0.7);
            margin-top:10px;
        }
        .btn_primary{
            margin-top:30px;
        }
    }
}
.img-fs{
    display:block;
    position:absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:   hidden;
    -ms-backface-visibility:    hidden;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

About Us

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.about-us{
    height:100%;
    min-height:850px;
    .col-1-2{
        height:100%;
    }
    .section-image{
        background:url(../img/about-hero.jpg) no-repeat center;
        background-size:cover;
        //border-right:70px white solid;
    }
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

FAQs

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.faqs{
    .col-1-2{
        height:100%;
        padding:200px 0;
    }
    .section-image{
        height:100%;
        background:url(../img/faq-hero.jpg) no-repeat center;
        background-size:cover;
    }
}
.faq-questions{
    .question{
        padding:20px 0;
        &:last-child{
            border:none;
            padding-bottom:0;
        }
        &:first-child{
            padding-top:0;
        }
        h4{
            font-size:20px;
            line-height:28px;
            margin-bottom:3px;
        }
        p{
            font-size:18px;
            line-height:28px;
            color:#999;
        }
    }
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

Pre-Register

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.pre-register{
    height:100%;
    .col-1-2{
        position:relative;
        height:100%;
    }
    .section-copy{
        position:absolute;
        right:0;
        padding:0 60px 0 0;
        max-width:550px;
        h3{
            text-indent:-2px;
        }
    }
    .section-form{
        height:100%;
        float:right;
        background:$blue; 
        padding-left:60px;
        form{
            width:100%;
            max-width:550px;
            margin-top:5px;
            .field{
                margin-top:15px; 
            }
            input{
                width:100%;
                height:50px;
                padding:0 20px;
                font-size:18px;
                font-family:'Lato', sans-serif;
                color:white;
                border:2px solid rgba(255,255,255,0.5);
                background:transparent;
                border-radius:10px;
                @include transition(border-color 0.8s $easeOutExpo);
                &:focus{
                    outline:none;
                    border-color:rgba(255,255,255,1);
                }
            }
            .btn_primary{
                max-width:100%;
                background:rgba(255,255,255,0.75);
                color:$blue;
                margin-top:10px;
                @include transition(all 0.8s $easeOutExpo);
                &:hover{
                   background:rgba(255,255,255,1);
                }
                &:focus{
                    outline:none;
                }
            }
            ::-webkit-input-placeholder { 
              color: rgba(255,255,255,0.6);
            }
            ::-moz-placeholder {
              color: rgba(255,255,255,0.6);
            }
            :-ms-input-placeholder { 
              color: rgba(255,255,255,0.6);
            }
            :-moz-placeholder { 
              color: rgba(255,255,255,0.6);
            }
        }
    }
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

Footer

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
footer{
	padding:60px 0;
    border-top:1px solid #ddd;
    font-size:12px;
    line-height:50px;
    .logo-mark{
        float:left;
        height:50px;
        li{
            display:inline;
            margin:0 30px 0 0;
            text-transform:uppercase;
            img{
                vertical-align:middle;
            }
            a{
                color:#999;
                text-decoration:none;
                @include transition(all 0.8s $easeOutExpo);
                &:hover{
                    color:#555;
                }
            }
        }
    }
    .copyright{
        float:right;
        height:50px;
        font-size:14px;
        color:#bbb;
    }
}




@media (max-width:600px){
    body{
        -webkit-overflow-scrolling: touch;
    }
    /* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    Header

    –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
    header{
        height:80px;
        text-align:center;
        .container{
            height:100%;
        }
        .logo{
            padding-top:10px;
            height:60px;
            img{
                height:60px;
            }
        }
        nav{
           display:none;       
        }
    }

    .section-copy{
        width:100%;
        .section-label{
            display:block;
            font-size:14px;
            margin-bottom:5px;
            color:$blue;
        }
        h3{
            font-size:25px;
            line-height:25px;
            margin-bottom:20px;
        }
        p{
            font-size:16px;
            line-height:26px;
            color:#999;
        }
    }
   /* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    Hero

    –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
    .hero{
        position:relative;
        width:100%;
        height:480px;
        background:url(../img/hero-mobile.jpg) no-repeat center;
        background-size:cover;
        padding:0 20px;
        .col-1-2{
            float:none;
            width:100%;
        }
        .hero-copy{
            max-width:100%;
            margin-top:50px;
            h1{
                font-size:35px;
                line-height:35px;
                color:white;
            }
            h2{
                font-size:20px;
                line-height:25px;
                margin-top:10px;
            }
            .btn_primary{
                margin-top:20px;
                max-width:400px;
            }
        }
    }
    /* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    About Us

    –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
    .about-us{
        height:auto;
        .col-1-2{
            width:100%;
            height:auto;
            padding:60px 0;
        }
        .section-image{

            height:480px;

        }
        .section-copy{
            padding:0 20px;
        }
    }
    /* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    FAQs

    –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
    .faqs{
        border-bottom:1px solid #ddd;
        .col-1-2{
            height:auto;
            padding:60px 0;
            float:right;
            width:100%;
        }
        .section-image{
            height:480px;
            background:url(../img/faq-hero.jpg) no-repeat center;
            background-size:cover;
        }
        .section-copy{
            padding:0 20px;
        }
    }
    .faq-questions{
        .question{
            padding:15px 0;
            h4{
                font-size:18px;
                line-height:26px;
                margin-bottom:3px;
            }
            p{
                font-size:16px;
                line-height:26px;
            }
        }
    }
    /* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    Pre-Register

    –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
    .pre-register{
        height:auto;
        .col-1-2{
            width:100%;
            height:auto;
        }
        .section-copy{
            position:relative;
            padding:60px 20px 20px 20px;
            max-width:100%;
        }
        .section-form{
            height:auto;
            padding:15px 20px 60px 20px; 
            form{
                max-width:100%;
                padding-left:0;
                .field{
                    margin-top:15px; 
                }
                input{
                    font-size:16px;
                }
            }
        }
    }
    /* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

    Footer

    –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
    footer{
        padding:60px 0;
        background:#f6f6f6;
        font-size:12px;
        line-height:auto;
        text-align:center;
        overflow:hidden;
        .logo-mark{
            float:none;
            height:auto;
            width:100%;
            li{
                display:inline;
                margin:0;
                padding:0 10px;
                text-transform:uppercase;
                img{
                    vertical-align:middle;
                }
                &:first-child{
                    display:inline-block;
                    width:100%;
                }
            }
        }
        .copyright{
            float:none;
        }
    }



}


