@charset "UTF-8";
/* easeOutExpo */
/* easeInOutExpo */
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

RESETS

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

HELPERS

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

.clear {
  clear: both; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  position: relative;
  padding: 0;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto; }

.col-1-2 {
  position: relative;
  width: 50%;
  float: left; }
  .col-1-2 img {
    width: 100%;
    max-width: 500px; }

.col-1-3 {
  position: relative;
  width: 33.333333%;
  float: left; }

.col-1-4 {
  position: relative;
  width: 25%;
  float: left; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-center-v {
  display: flex;
  align-items: center; }

.flex-center-h {
  display: flex;
  justify-content: center; }

.align-center {
  text-align: center; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.blue-bg {
  background: #5cc2c8; }

.tan-bg {
  background: #beb79e; }

.orange-bg {
  background: #d9541e; }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

GLOBALS

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body {
  height: 100%;
  font-family: "Lato";
  -webkit-font-smoothing: antialiased; }

#main {
  width: 100%;
  height: 100%; }

.sectionHeading {
  background: black;
  padding: 30px 0;
  color: #beb79e;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-size: 45px;
  letter-spacing: 4px; }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

TYPE

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

HERO

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.adaptiveHero {
  width: 100%;
  height: 550px;
  background: #5cc2c8; }
  .adaptiveHero .adaptiveHeroContent {
    color: white; }
  .adaptiveHero .adaptiveHeroCopy {
    height: 550px;
    width: 70%; }
    .adaptiveHero .adaptiveHeroCopy h1 {
      display: block;
      width: 100%;
      font-size: 60px;
      line-height: 65px;
      text-transform: uppercase;
      font-family: 'Oswald';
      font-weight: 700;
      letter-spacing: 6px; }
      .adaptiveHero .adaptiveHeroCopy h1 span {
        display: block;
        margin-top: -5px;
        font-size: 45px;
        font-family: serif;
        font-style: italic;
        text-transform: none;
        font-weight: 400;
        letter-spacing: 0; }
    .adaptiveHero .adaptiveHeroCopy h2 {
      display: block;
      text-align: right;
      margin-top: 45px;
      margin-left: -60px;
      width: 100%;
      color: black;
      font-size: 55px;
      text-transform: uppercase;
      font-family: 'Oswald';
      letter-spacing: 6px; }
      .adaptiveHero .adaptiveHeroCopy h2 span {
        display: block;
        margin-top: 5px;
        font-size: 20px;
        font-family: serif;
        font-style: italic;
        text-transform: none;
        font-weight: 400;
        letter-spacing: 0; }
  .adaptiveHero .adaptiveHeroImage {
    width: 30%; }
    .adaptiveHero .adaptiveHeroImage img {
      display: block; }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

DESCRIPTION

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.adaptiveDecription {
  padding: 90px 0; }
  .adaptiveDecription p {
    font-size: 18px;
    line-height: 28px;
    font-family: serif;
    margin-top: 30px; }
    .adaptiveDecription p:first-child {
      margin-top: 0; }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

CLIENTS

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.adaptiveClients {
  border-bottom: 1px solid white;
  border-top: 1px solid white; }
  .adaptiveClients .col-1-3 {
    position: relative;
    height: 320px;
    border: 1px solid white; }
    .adaptiveClients .col-1-3 .flex-center {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 50px;
      overflow: hidden; }
    .adaptiveClients .col-1-3 img {
      width: 100%;
      max-width: 240px;
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
      -ms-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1); }
    .adaptiveClients .col-1-3 p {
      opacity: 0;
      filter: alpha(opacity=0);
      font-size: 24px;
      line-height: 34px;
      color: white;
      font-family: serif;
      -moz-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      transform: translateY(200px);
      -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
      -ms-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
      -o-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1); }
    .adaptiveClients .col-1-3:hover img, .adaptiveClients .col-1-3.active img {
      opacity: 0;
      filter: alpha(opacity=0);
      -moz-transform: translateY(-200px);
      -o-transform: translateY(-200px);
      -ms-transform: translateY(-200px);
      -webkit-transform: translateY(-200px);
      transform: translateY(-200px); }
    .adaptiveClients .col-1-3:hover p, .adaptiveClients .col-1-3.active p {
      opacity: 1;
      filter: alpha(opacity=100);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0); }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

CAPABILITIES

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.adaptiveCapabilties {
  background: #beb79e; }
  .adaptiveCapabilties .grid {
    margin: 70px 0 120px 0; }
  .adaptiveCapabilties .sectionHeading {
    padding-top: 60px;
    background: transparent;
    color: black; }
  .adaptiveCapabilties .row {
    position: relative;
    margin-top: 70px; }
    .adaptiveCapabilties .row:first-child {
      margin-top: 0; }
  .adaptiveCapabilties .col-1-4 {
    position: relative;
    width: 23%;
    padding: 60px 20px;
    height: 415px;
    background: white;
    margin: 1%;
    box-shadow: 10px 20px 40px 0 rgba(0, 0, 0, 0.2); }
  .adaptiveCapabilties h3 {
    display: block;
    width: 100%;
    text-align: center;
    color: #5cc2c8;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-family: 'Oswald';
    letter-spacing: 2px;
    margin-bottom: 25px; }
    .adaptiveCapabilties h3.smaller-h3 {
      font-size: 18px;
      line-height: 22px; }
    .adaptiveCapabilties h3 .and {
      font-size: 18px;
      font-family: serif;
      font-style: italic;
      text-transform: none;
      letter-spacing: 1px; }
  .adaptiveCapabilties p {
    font-size: 18px;
    line-height: 28px;
    font-family: serif;
    padding: 0 10px; }
  .adaptiveCapabilties .open-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    background: #5cc2c8 url(../img/plus-icon.png) no-repeat center;
    cursor: pointer;
    -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); }
    .adaptiveCapabilties .open-btn:hover {
      background: #4f9ca1 url(../img/plus-icon.png) no-repeat center; }
  .adaptiveCapabilties .col-icon {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    background: white;
    border-radius: 100%; }
    .adaptiveCapabilties .col-icon img {
      width: 100%;
      height: auto; }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

MODAL

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.capabilitiesModal {
  position: absolute;
  left: 0;
  padding: 80px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 20; }
  .capabilitiesModal .capabilitiesModalHeading {
    padding-bottom: 70px;
    text-align: center; }
    .capabilitiesModal .capabilitiesModalHeading h3 {
      display: inline;
      padding-bottom: 40px;
      border-bottom: 1px solid #999;
      text-align: center;
      color: #5cc2c8;
      font-size: 30px;
      line-height: 34px;
      text-transform: uppercase;
      font-family: 'Oswald';
      letter-spacing: 2px; }
  .capabilitiesModal p {
    margin-top: 20px; }
  .capabilitiesModal .modalClose {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); }
    .capabilitiesModal .modalClose:hover {
      opacity: 0.5;
      filter: alpha(opacity=50); }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

INSIGHTS

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.adaptiveInsights {
  border-bottom: 1px solid white;
  border-top: 1px solid white; }
  .adaptiveInsights .col-1-3 {
    position: relative;
    height: 330px;
    padding: 40px;
    border: 1px solid white; }
  .adaptiveInsights h3 {
    display: block;
    width: 100%;
    color: white;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'Oswald';
    letter-spacing: 4px; }
  .adaptiveInsights .read-more-link {
    position: absolute;
    right: 40px;
    bottom: 40px;
    padding: 10px 25px;
    border: 2px solid white;
    background: transparent;
    -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); }
    .adaptiveInsights .read-more-link a {
      text-transform: uppercase;
      font-family: 'Oswald';
      letter-spacing: 2px;
      color: white;
      text-decoration: none;
      font-size: 24px; }
      .adaptiveInsights .read-more-link a img {
        vertical-align: middle; }
    .adaptiveInsights .read-more-link:hover {
      background: rgba(255, 255, 255, 0.35); }
    .adaptiveInsights .read-more-link:focus {
      outline: none; }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

QUOTE

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.adaptiveQuote {
  position: relative;
  padding: 100px 0 0 0;
  background: #d9541e; }
  .adaptiveQuote .adaptiveQuoteImage {
    width: 40%; }
    .adaptiveQuote .adaptiveQuoteImage img {
      display: block;
      position: absolute;
      bottom: 0;
      height: 100%; }
  .adaptiveQuote .adaptiveQuoteCopy {
    width: 60%;
    padding-left: 40px;
    padding-bottom: 80px; }
    .adaptiveQuote .adaptiveQuoteCopy img {
      width: 100%; }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

TESTIMONIALS

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.adaptiveTestimonials {
  background: #beb79e; }
  .adaptiveTestimonials .grid {
    margin: 70px 0 120px 0; }
  .adaptiveTestimonials .sectionHeading {
    padding-top: 60px;
    background: transparent;
    color: black; }
  .adaptiveTestimonials .row {
    margin-top: 70px; }
    .adaptiveTestimonials .row:first-child {
      margin-top: 0; }
  .adaptiveTestimonials .col-1-3 {
    position: relative;
    width: 31.333333%;
    padding: 60px 20px;
    height: 550px;
    background: white;
    margin: 1%;
    box-shadow: 10px 20px 40px 0 rgba(0, 0, 0, 0.2); }
  .adaptiveTestimonials h3 {
    display: block;
    width: 100%;
    text-align: center;
    color: #d9541e;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Oswald';
    letter-spacing: 2px;
    margin-bottom: 25px; }
  .adaptiveTestimonials p {
    font-size: 18px;
    line-height: 28px;
    font-family: serif;
    padding: 0 10px; }
  .adaptiveTestimonials .testimonial-author {
    display: inline-block;
    font-family: serif;
    font-style: italic;
    font-size: 24px;
    padding-bottom: 6px; }
  .adaptiveTestimonials .col-icon {
    position: absolute;
    width: 118px;
    height: 118px;
    top: -59px;
    left: 50%;
    margin-left: -59px; }
    .adaptiveTestimonials .col-icon img {
      width: 100%;
      height: auto;
      border-radius: 100%;
      border: 5px solid #5cc2c8; }

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

MEDIA QUERIES

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 1200px) {
  .sectionHeading {
    padding-left: 20px;
    padding-right: 20px; }

  .adaptiveHero {
    padding: 0 20px;
    overflow: hidden; }
    .adaptiveHero .adaptiveHeroCopy h1 span {
      margin-top: 5px;
      font-size: 36px;
      line-height: 46px; }
    .adaptiveHero .adaptiveHeroCopy h2 {
      text-align: left;
      margin-left: 0; }
    .adaptiveHero .adaptiveHeroImage {
      width: 30%; }
      .adaptiveHero .adaptiveHeroImage img {
        display: block;
        margin-left: -100px; }

  .adaptiveDecription {
    padding-left: 20px;
    padding-right: 20px; }

  .adaptiveClients .col-1-3 p {
    font-size: 20px;
    line-height: 30px; }

  .adaptiveCapabilties .grid {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto; }
  .adaptiveCapabilties .row {
    margin-top: 0; }
  .adaptiveCapabilties .col-1-4 {
    position: relative;
    width: 48%;
    padding: 60px 20px;
    height: 415px;
    background: white;
    margin: 1% 1% 70px 1%;
    box-shadow: 10px 20px 40px 0 rgba(0, 0, 0, 0.2); }
  .adaptiveCapabilties .flex-center-h {
    display: block; }

  .adaptiveInsights .col-1-3 {
    padding: 30px; }
  .adaptiveInsights h3 {
    font-size: 24px;
    line-height: 34px; }
  .adaptiveInsights .read-more-link {
    right: 30px;
    bottom: 30px; }
    .adaptiveInsights .read-more-link a {
      font-size: 20px; }

  .adaptiveQuote {
    position: relative;
    padding: 100px 20px 0 20px;
    background: #d9541e; }
    .adaptiveQuote .container {
      max-width: 960px; }
    .adaptiveQuote .adaptiveQuoteImage {
      width: 40%; }
      .adaptiveQuote .adaptiveQuoteImage img {
        display: block;
        position: absolute;
        bottom: 0;
        height: 100%; }
    .adaptiveQuote .adaptiveQuoteCopy {
      width: 60%;
      padding-left: 40px;
      padding-bottom: 80px; }
      .adaptiveQuote .adaptiveQuoteCopy img {
        width: 100%; } }
@media (max-width: 1024px) {
  .adaptiveHero {
    height: 450px; }
    .adaptiveHero .adaptiveHeroCopy {
      height: 450px; }
      .adaptiveHero .adaptiveHeroCopy h1 {
        font-size: 50px;
        line-height: 55px; }
        .adaptiveHero .adaptiveHeroCopy h1 span {
          font-size: 30px;
          line-height: 40px; }
      .adaptiveHero .adaptiveHeroCopy h2 {
        font-size: 40px; }
        .adaptiveHero .adaptiveHeroCopy h2 span {
          font-size: 18px; }
    .adaptiveHero .adaptiveHeroImage img {
      display: block;
      position: absolute;
      margin-left: -50px;
      bottom: 0;
      height: 100%; }

  .adaptiveClients .col-1-3 {
    width: 50%; }
    .adaptiveClients .col-1-3 p {
      font-size: 20px;
      line-height: 30px; } }
@media (max-width: 960px) {
  .adaptiveInsights .col-1-3 {
    padding: 20px; }
  .adaptiveInsights h3 {
    font-size: 20px;
    line-height: 30px; }
  .adaptiveInsights .read-more-link {
    right: 20px;
    bottom: 20px; }
    .adaptiveInsights .read-more-link a {
      font-size: 16px; }

  .adaptiveTestimonials h3 {
    font-size: 20px;
    line-height: 24px; }
  .adaptiveTestimonials p {
    font-size: 18px;
    line-height: 28px;
    font-family: serif;
    padding: 0 10px; }
  .adaptiveTestimonials .testimonial-author {
    font-family: serif;
    font-style: italic;
    font-size: 20px; }
  .adaptiveTestimonials .col-icon {
    position: absolute;
    width: 118px;
    height: 118px;
    top: -59px;
    left: 50%;
    margin-left: -59px; }
    .adaptiveTestimonials .col-icon img {
      width: 100%;
      height: auto;
      border-radius: 100%;
      border: 5px solid #5cc2c8; }

  .adaptiveTestimonials .grid {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto; }
  .adaptiveTestimonials .flex-center-h {
    display: block; }
  .adaptiveTestimonials .col-1-3 {
    width: 98%;
    height: 450px; } }
@media (max-width: 768px) {
  .sectionHeading {
    font-size: 30px; }

  .adaptiveHero {
    height: 400px; }
    .adaptiveHero .adaptiveHeroCopy {
      height: 400px; }
      .adaptiveHero .adaptiveHeroCopy h1 {
        font-size: 40px;
        line-height: 45px; }
        .adaptiveHero .adaptiveHeroCopy h1 span {
          font-size: 25px;
          line-height: 30px; }
      .adaptiveHero .adaptiveHeroCopy h2 {
        font-size: 30px; }
        .adaptiveHero .adaptiveHeroCopy h2 span {
          font-size: 18px;
          line-height: 22px;
          max-width: 200px; }
    .adaptiveHero .adaptiveHeroImage img {
      display: block;
      position: absolute;
      margin-left: -50px;
      bottom: 0;
      height: 100%; }

  .adaptiveClients .col-1-3 {
    width: 100%;
    height: 260px; }
    .adaptiveClients .col-1-3 p {
      font-size: 18px;
      line-height: 28px; }

  .adaptiveInsights .col-1-3 {
    width: 100%;
    height: 200px; }
  .adaptiveInsights h3 {
    font-size: 18px;
    line-height: 28px; }
  .adaptiveInsights .read-more-link {
    right: 20px;
    bottom: 20px; }
    .adaptiveInsights .read-more-link a {
      font-size: 16px; }

  .adaptiveCapabilties .grid {
    margin: 50px 0 0px 0; }
  .adaptiveCapabilties .col-1-4 {
    position: relative;
    width: 98%;
    padding: 40px 20px;
    height: 320px;
    margin: 1% 1% 1% 1%; }
  .adaptiveCapabilties .flex-center-h {
    display: block; }
  .adaptiveCapabilties .col-icon {
    width: 80px;
    height: 80px;
    top: -40px;
    margin-left: -40px;
    background: white;
    border-radius: 100%; }
  .adaptiveCapabilties .open-btn {
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px; }

  .adaptiveTestimonials .grid {
    margin: 70px auto 5px auto; }
  .adaptiveTestimonials .col-1-3 {
    height: auto; }
  .adaptiveTestimonials p {
    padding: 0;
    font-size: 16px;
    line-height: 26px; }
  .adaptiveTestimonials .col-icon {
    position: absolute;
    width: 90px;
    height: 90px;
    top: -45px;
    left: 50%;
    margin-left: -45px; }
    .adaptiveTestimonials .col-icon img {
      width: 100%;
      height: auto;
      border-radius: 100%;
      border: 5px solid #5cc2c8; }

  .adaptiveQuote {
    padding: 60px 20px 0 20px; }
    .adaptiveQuote .adaptiveQuoteImage {
      display: none; }
    .adaptiveQuote .adaptiveQuoteCopy {
      width: 100%;
      padding-left: 0;
      padding-bottom: 70px; }
      .adaptiveQuote .adaptiveQuoteCopy img {
        width: 100%; }

  .capabilitiesModal {
    position: fixed;
    top: 0;
    left: 0;
    padding: 80px 20px 60px 20px;
    width: 100%;
    height: 100%;
    background: white;
    overflow: scroll;
    z-index: 10000; }
    .capabilitiesModal .capabilitiesModalHeading {
      padding-bottom: 10px;
      text-align: center; }
      .capabilitiesModal .capabilitiesModalHeading h3 {
        padding-bottom: 20px;
        border-bottom: none;
        font-size: 28px;
        line-height: 32px; }
    .capabilitiesModal p {
      margin-top: 20px; }
    .capabilitiesModal .modalClose {
      top: 20px;
      right: 20px; }
    .capabilitiesModal.flex-center-v {
      display: block; } }
@media (max-width: 600px) {
  .adaptiveHero {
    height: 400px; }
    .adaptiveHero .adaptiveHeroCopy {
      height: 400px; }
      .adaptiveHero .adaptiveHeroCopy h1 {
        font-size: 30px;
        line-height: 40px; }
        .adaptiveHero .adaptiveHeroCopy h1 span {
          font-size: 20px;
          line-height: 25px; }
      .adaptiveHero .adaptiveHeroCopy h2 {
        font-size: 20px;
        margin-top: 30px;
        letter-spacing: 3px; }
        .adaptiveHero .adaptiveHeroCopy h2 span {
          font-size: 16px;
          line-height: 20px;
          max-width: 150px; }
    .adaptiveHero .adaptiveHeroImage img {
      display: block;
      position: absolute;
      margin-left: -50px;
      bottom: 0;
      height: 325px; }

  .adaptiveDecription {
    padding: 40px 20px; }
    .adaptiveDecription p {
      font-size: 16px;
      line-height: 26px; }

  .adaptiveCapabilties p {
    font-size: 16px;
    line-height: 26px; }

  .adaptiveInsights .col-1-3 {
    width: 100%;
    height: 200px; }
  .adaptiveInsights h3 {
    font-size: 16px;
    line-height: 26px; }
  .adaptiveInsights .read-more-link {
    right: 20px;
    bottom: 20px; }
    .adaptiveInsights .read-more-link a {
      font-size: 16px; } }

/*# sourceMappingURL=main.css.map */
