/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

RESETS

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

HELPERS

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
.clear{
	clear:both;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

GLOBALS

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
html,body{
	height:100%;
  font-family:"Lato";
	-webkit-font-smoothing: antialiased;
}
body{
  color:$primary;
  background:#e5ecef;
}
#main{
  width:100%;
  //max-width:1500px;
  margin:0 auto;
  height:100%;
}
.content{
  background:white;
  padding:120px 0 120px 0;
  .container{
    max-width:900px;
  }
  p{
    font-size:18px;
    line-height:28px;
    @include opacity(0.7);
  }
  ul{
    margin-top:5px;
    li{
      font-size:18px;
      line-height:28px;
      margin-left:20px;
      margin-top:15px;
      max-width:600px;
      @include opacity(0.7);
    }
  }
  .left-image{
    padding-left:100px;
    img{
      position:absolute;
      left:0;
    }
  }
}

.container{
  position:relative;
	padding:0;
  width:100%;
  max-width:960px;
  margin:0 auto;
}
section{
  position:relative;
}
section.one-column{
  margin:100px 0 0 0;
  width:100%;
  h2{
    margin-bottom:20px;
  }
  &:first-child{
    margin-top:0;
  }
}

.col-1-2{
  position:relative;
  width:50%;
  float:left;
  img{
    width:100%;
    max-width:500px;
  }
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-v{
  display: flex;
  align-items: center;
}
.align-center{
  text-align:center;
}
.align-right{
  position:absolute;
  width:100%;
  max-width:550px;
  text-align:left;
  bottom:120px;
  right:120px;
}
.align-left{
  position:absolute;
  width:100%;
  max-width:550px;
  text-align:left;
  bottom:120px;
  left:120px;
}
.float-right{
  float:right;
}




h1,h2{
  font-family:'Merriweather', serif;
  font-size:36px;
  line-height:50px;
  font-weight:400;
}
p{
  font-size:20px;
  line-height:30px;
  font-weight:300;
}
.large-text{
  font-family:'Merriweather', serif;
  font-size:45px;
  line-height:55px;
  font-weight:400;
}
.is__orange{
  color:$orange;
}
.is__white{
  color:white;
}
.is__bold{
  font-weight:700;
}
.btn__is__primary{
  padding:15px 40px;
  border:none;
  border-radius:5px;
  font-size:16px;
  font-weight:700;
  color:white;
  background:$secondary;
  cursor:pointer;
  @include box-shadow(0 2px 0 0 rgba(128,155,168,1));
  @include transition(all 0.8s $easeOutExpo);
  &:hover{
    background:darken($secondary, 15%);
    @include box-shadow(0 2px 0 0 rgba(0,0,0,0.5));
  }
  &.is__orange__bg{
    background:$orange;
    &:hover{
    background:darken($orange, 8%);
    @include box-shadow(0 2px 0 0 rgba(0,0,0,0.6));
  }
  }
}
.chevron{
    position:relative;
    display:block;
    height:20px;/*height should be double border*/
}
.chevron:before,
.chevron:after{
    position:absolute;
    display:block;
    content:"";
    border:10px solid transparent;/*adjust size*/
}
.chevron:before{
    top:0;
    border-top-color:$secondary;
}
.chevron:after{
    top:-3px;
    border-top-color:$primary;/*Match background colour*/
}

.home_page_section{
  padding-bottom:280px;
  p{
    max-width:700px;
    margin:15px auto 0 auto;
  }
}
.padding__top-80{
  padding-top:80px;
}
.padding__bottom-120{
  padding-bottom:120px;
}




 h3{
    font-size:30px;
    line-height:36px;
    text-transform:uppercase;
    font-weight:700;
    color:$primary;
  }

 .next-page{
  padding:100px 0 0 0;
  text-align:center;
  a{
    display:block;
    font-size:16px;
    font-weight:700;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:5px;
    color:$primary;
    text-decoration:none;
    &:nth-child(1){
      float:left;
    }
    &:nth-child(2){
      float:right;
    }
    &:hover{
      color:$orange;
    }
  }
  &.right{
    a{
      float:right;
    }
  }
 } 
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

HEADER

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
header{
  position:absolute;
  top:20px;
  left:0;
  width:100%;
  height:90px;
  //background:white;
  z-index:999;
  @include transform(translate3d(0,0,0)); 
  @include transition(all 0.8s $easeOutExpo);
  .logo-wrap{
    position:relative;
    height:100%;
    width:300px;
    z-index:44;
    .logo{
      position:absolute;
      left:60px;
      @include opacity(1);
      @include transform(translateY(0)); 
      @include transition(all 0.4s $easeOutExpo);
    }
  }
  nav{
    position:absolute;
    top:0;
    right:60px;
    height:100%;
    li{
      display:inline;
      line-height:90px;
      font-size:16px;
      font-weight:700;
      color:$primary;
      margin:0 0 0 30px;
      a{
        color:#a3b5bd;
        text-decoration: none;
        @include transition(all 0.8s $easeOutExpo);
        &.active{
          color:$orange;
        }
      }
      &:hover{
        a{
          color:$orange;
        }
      }
    }
  }
  &.active{
      @include transform(translateY(-120px)); 
  }
  &.shadow{
      @include box-shadow(0 0 4px 0 rgba(0,0,0,0.3));
  }
  .menu-btn{
    display:none;
    position:absolute;
    top:11px;
    right:20px;
    font-size:24px;
  }
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

HERO

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero{
  position:relative;
  width:100%;
  height:100%;
  min-height:750px;
  .hero-copy{
    h1{    
      text-align:center;
      max-width:800px;
      margin:-80px auto 0 auto;
    }
    .btn__is__primary{
      margin-top:60px;
      background:$green;
      @include box-shadow(0 2px 0 0 rgba(0,0,0,0.7));
      &:hover{
        background:darken($green, 8%);
      }
    }
  }
  i.chevron{
      position:absolute;
      width:20px;
      bottom:40px;
      left:50%;
      margin-left:-10px;
  }
}


#dig-deep{
  position:relative;
  background:#885e36;
  color:white;
  height:675px;
  h2{
      margin-top:60px;  
  }
  img{
    width:100%;
    max-width:960px;
    min-width:960px;
    margin-top:-350px;
  }
  .grass{
    position:absolute;
    top:-3px;
    width:100%;
    height:4px;
    background:$green;
    z-index:20;
    border-bottom:2px solid rgba(0,0,0,0.35);
  }
}
#business-leaders{
  padding:200px 0; 
  h2{    
    text-align:center;
    max-width:700px;
    margin:0 auto;
  }
  img{
    position:relative;
    z-index:20;
    margin-bottom:50px;
  }
}
#personal-income{
  padding:200px 0; 
  background:#8097a1;
  color:white;
  img{
    padding:60px 0 40px 0;
  }
}
#how-big{
  padding:200px 0 180px 0; 
  > .container{
    margin-bottom:120px;
  }
  .clouds-top{
    padding:0;
    margin-top:-200px;
  }
}
#bridge{
  position:relative;
  padding:0; 
  > .container{
    position:relative;
    max-width:1500px;
    z-index:20;
  }
  h2{
    padding-bottom:250px;
  }
  img{
    position:relative;
    display:block;
    z-index:20;
  }
  .bridge-bg{
    position:absolute;
    bottom:0;
    width:100%;
    height:273px;
    background:#00a651;
    z-index:10;
  }
}
#balloon{
  padding:200px 0;
  background:#e5ecef;
  img{
    position:relative;
    padding:200px 0;
    z-index:20;
  }
  .btn__is__primary{
    margin-top:80px;
  }
}

.clouds-top{
  position:absolute;
  top:0;
  left:100;
  width:100%;
  z-index:88;
  .container{
    max-width:1500px;
  }
  img{
    padding:150px 0;
    width:100%;
  }
}
.clouds-bottom{
  position:absolute;
  top:0;
  left:100;
  width:100%;
  z-index:0;
  .container{
    max-width:1500px;
  }
  img{
    padding:150px 0;
    width:100%;
  }
}


.update-sign-up{
  padding:90px 0;
  background:#f3f6f7;
  .container{
    max-width:500px;
  }
  h2{
   font-size:30px;
   line-height:44px;
  }
  p{
    margin-top:10px;
  }
  form{
    width:100%;
    margin-top:40px;
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $secondary;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $secondary;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $secondary;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $secondary;
    }
    input{
      width:100%;
      background:transparent;
      &[type="email"]{
        border:1px solid $secondary;
        border-radius:5px;
        padding:20px;
        color:$primary;
        font-size:16px;
        text-align:center;
        &:focus{
          outline:none;
        }
      }
    }
    button{
      margin-top:20px;
      &:focus{
        outline:none;
      }
    }
  }
}





footer{
  width:100%;
  height:200px;
  background:$primary;
  .copyright{
    font-size:14px;
    line-height:200px;
    color:white;
    @include opacity(0.5);
  }
  .social-links{
    float:right;
    li{
      display:inline;
      font-size:28px;
      line-height:200px;
      margin:0 0 0 40px;
      i{
        color:white;
        @include transition(all 0.8s $easeOutExpo);
      }
      &:hover{
        i{
          @include opacity(0.5);
        }
      }
    }
  }
}

