$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
$easeInOutExpo:cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
$primary:#013852;
$secondary:#5e77f7;
$green:#20af64;
$blue:#75abc5;
$white:#fafafa;
$orange:#f27523;

