/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

RESETS

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

HELPERS

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
.clear{
	clear:both;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container{
  position:relative;
  padding:0;
  width:100%;
  max-width:1200px;
  height:100%;
  margin:0 auto;
}
.col-1{
  position:relative;
  width:100%;
}
.col-1-2{
  position:relative;
  width:50%;
  float:left;
  img{
    width:100%;
    max-width:500px;
  }
}
.col-1-3{
  position:relative;
  width:33.333333%;
  float:left;
}
.col-1-4{
  position:relative;
  width:25%;
  float:left;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-v{
  display: flex;
  align-items: center;
}
.flex-center-h{
  display: flex;
  justify-content: center;
}
.align-center{
  text-align:center;
}
.float-left{
  float:left;
}
.float-right{
  float:right;
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

GLOBALS

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
html,body{
	height:100%;
  font-family:"Lato";
	-webkit-font-smoothing: antialiased;
  color:#333;
}
#main{
  position:relative;
  width:100%;
  height:100%;
  @include transform(translateX(0));
  @include transition(transform 0.8s $easeOutExpo);
  &.open{
    @include transform(translateX(-250px));
  }
}
header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100px;
  background:transparent;
  z-index:10000;
  @include transition(all 0.8s $easeOutExpo);
  .logo{
    position:absolute;
    top:30px;
    left:60px;
    @include transition(all 0.6s $easeOutExpo);
  }
  nav{
    position:absolute;
    top:0;
    right:60px;
    height:100px;
    li{
      display:block;
      float:left;
      margin-left:50px;
      height:100%;
      a{
        font-size:16px;
        line-height:100px;
        color:rgba(255,255,255,0.6);
        @include transition(all 0.6s $easeOutExpo);
      }
      .fa{
        font-size:24px;
        line-height:102px;
        color:white;
        @include transition(all 0.6s $easeOutExpo);
      }
      &:hover{
        a{
          color:rgba(255,255,255,1);
        }
        .fa{
          color:rgba(255,255,255,0.6);
        }
      }
      &.active{
        a{
          color:white;
        }
      }
    }
  }
  &.active{
    height:70px;
    background:rgba(30,30,30,0.9);
    .logo{
      top:20px;
      img{
        height:30px;
        @include transition(height 0.6s $easeOutExpo);
      }
    }
    nav{
      height:70px;
      li{
        height:70px;
        a{
          line-height:70px;
        }
        .fa{
          line-height:72px;
        }
      }
    }
  }
  &.open{
    @include transform(translateX(-200px));
  }
}

.mobile-nav{
  position:fixed;
  top:0;
  right:0;
  height:100%;
  width:250px;
  background:#222;
  z-index:20000;
  @include transform(translateX(250px));
  @include transition(transform 0.8s $easeOutExpo);
  &.open{
    @include transform(translateX(0));
  }
  ul{
    padding:40px 30px;
  }
  li{
    font-size:18px;
    line-height:24px;
    margin-top:40px;
    a{
      color:#888;
    }
    &.active{
      a{
        color:white;
      }
    }
  }
}


#mobile-nav-btn {
  position:fixed;
  display:none;
  right:20px;top:28px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 30000;
}
#mobile-nav-btn span {
  height: 0px;
  width: 30px;
  border-top: 2px solid white;
  position: absolute;
  display: block;
  content: '';
  @include transform(rotate(0));
  @include transition(transform 0.6s $easeOutExpo);
}
#mobile-nav-btn span:nth-child(1) {
  top: 0px;
}
#mobile-nav-btn span:nth-child(2) {
  top: 8px;
  width:25px;
}
#mobile-nav-btn span:nth-child(3) {
  bottom: 0px;
}
#mobile-nav-btn.active span:nth-child(1) {
  top:8px;  
  @include transform(rotate(-45deg));
}
#mobile-nav-btn.active span:nth-child(2) {
  opacity:0;
}
#mobile-nav-btn.active span:nth-child(3) {
  bottom:8px;     
  @include transform(rotate(45deg));
}
/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

TYPE

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
h1{
  font-weight:100;
  font-size:40px;
  line-height:50px;
  text-transform:uppercase;
}
h1,h2{
  
}
p{
  
}
a{
  text-decoration:none;
}
li{
  list-style:none;
}
.page-heading{
  display:block;
  text-align:center;
  font-weight:300;
  font-size:40px;
  line-height:50px;
  margin-bottom:40px;
  text-transform:uppercase;
}
.center-text{
  display:block;
  text-align:center;
}
.blue{
  color:$blue;
}
.light_blue{
  color:$light_blue;
}
.light_purple{
  color:$light_purple;
}
.dark_purple{
  color:$dark_purple;
}

.btn_primary{
  display:inline-block;
  text-align:center;
  padding:15px 30px;
  min-width:250px;
  background:$purple;
  color:white;
  font-size:20px;
  border-radius:30px;
  border:2px solid transparent;
  @include transition(all 0.8s $easeOutExpo);
  &:hover{
    border-color:rgba(255,255,255,0.6);
  }
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

HERO

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero{
  width:100%;
  height:100%;
  background:url(../img/hero_blue.jpg) no-repeat center;
  background-size:cover;
  .hero-copy{
    text-align:center;
    max-width:1280px;
    padding:0 30px;
    h1{
      font-size:120px;
      line-height:110px;
      color:white;
      .superscript{
        font-size:60px;
        vertical-align:super;
      }
    }
    h2{
      font-size:32px;
      line-height:36px;
      color:rgba(255,255,255,0.8);
      font-weight:300;
      margin-top:10px;
    }
    .btn_primary{
      margin-top:60px;
    }
  }
}


.page-hero{
  width:100%;
  height:400px;
  .hero-copy{
    text-align:center;
    max-width:1280px;
    padding:0 30px;
    h1{
      font-size:80px;
      line-height:80px;
      color:white;
      sup{
        font-size:40px;
        line-height:40px;
        vertical-align:super;
      }
    }
  }
  &.how-it-works-hero{
     padding-top:100px;
     background:$purple;
     .hero-copy{
      h1{
        color:white;
      }
    }
  }
  &.this-months-giveaway-hero{
    background:$blue;
    padding-top:100px;  
  }
  &.rules-hero{
     background:$blue;
     padding-top:100px;  
  }
  &.im-a-business-hero{
     padding-top:100px;
     background:$purple;
  }
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

HOW IT WORKS

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.how-it-works{
  padding:0 0 120px 0;
  background:$purple;
  .container{
    max-width:850px;
  }
  img{
    width:100%;
    padding-right:100px;
  }
  h2{
    color:white;
    font-size:32px;
    line-height:37px;
    font-weight:300;
    a{
      font-weight:400;
      color:white;
    }
  }
  p{
    font-size:18px;
    line-height:28px;
    color:rgba(255,255,255,0.6);
    margin-top:15px;
  }
  strong{
    display:block;
    width:60px;
    height:60px;
    border-radius:100%;
    background:$dark_purple;
    text-align:center;
    font-size:30px;
    line-height:58px;
    font-weight:400;
    margin-bottom:20px;
    margin-top:40px;
  }
  .row{
    margin:60px 0;
    &:first-child{
      margin-top:0;
    }
    .col-1-2{
      width:50%;
      float:right;
    }
  }
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

THIS MONTH'S GIVEAWAY

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.business-grid{
  padding:120px 0 120px 0;
  border-bottom:1px solid #ddd;
  h3{
    display:block;
    font-size:20px;
    text-align:center;
    color:#999;
    margin-top:80px;
    a{
      color:#333;
      @include transition(all 0.8s $easeOutExpo);
      &:hover{
        color:$purple;
      }
    }
  }
  .row{
    border-bottom:1px dashed #ccc;
    &:last-child{
      border:none;
    }
  }
  .col-1-4{
    text-align:center;
    padding:60px;
    border-right:1px dashed #ccc;
    &:last-child{
      border-right:none;
    }
    img{
      display:block;
      width:100%;
      max-width:170px;
      margin:0 auto;
    }
  }
}


.home-cta{
  padding:120px 0;
  text-align:center;
}
.follow-rafl{
  margin:40px 0 0 0;
  i{
    font-size:60px;
    color:#999;
  }
  .follow-rafl-username{
    color:#999;
    font-size:20px;
    line-height:30px;
    span{
      display:inline-block;
       font-size:36px;
       color:#333;
       margin-top:15px;
    }
  }
  a{
    color:#333;
    @include transition(all 0.8s $easeOutExpo);
    &:hover{
      color:$purple;
    }
  }
}




.static-page-layout{
  padding:80px 0 120px 0;
  border-bottom:1px solid #ddd;
  .container{
    max-width:1024px;
  }
  h3{
    font-size:18px;
    line-height:23px;
    margin-bottom:40px;
  }
  h4{
    font-size:18px;
    line-height:28px;
    font-weight:400;
    color:#999;
  }
  p{
    font-size:18px;
    line-height:28px;
    color:#999;
    margin-bottom:15px;
    &:last-child{
      margin-bottom:0;
    }
    strong{
      font-weight:400;
      color:#333;
    }
  }
  strong{
      font-size:18px;
      line-height:23px;
      font-weight:400;
      color:#333;
    }
  li{
    font-size:18px;
    line-height:28px;
    font-weight:400;
    color:#999;
    margin-top:15px;
    list-style:disc; 
    margin-left:20px;
  }
  a{
    color:#333;
    @include transition(all 0.8s $easeOutExpo);
    &:hover{
      color:$purple;
    }
  }
  section{
    padding:40px 0 0 0;
  }
}


footer{
  padding:80px 0;
  background:#f6f6f6;
  .logo{
    float:left;
    .copyright{
      display:block;
      font-size:14px;
      color:#999;
      margin-top:10px;
    }
  }
  .footer-nav{
    float:right;
    ul{
      float:left;
      margin-left:100px;
      li{
        line-height:24px;
        a{
          color:#999;
          @include transition(all 0.8s $easeOutExpo);
          &:hover{
            color:#333;
          }
        }
        &.active{
          a{
            color:#333;
          }
        }
      }
    }
  }
}

.form-layout{
  padding-top:170px;
  background:$blue;
  &.business-form-layout{
    background:$purple;
  }
  .container{
    max-width:960px;
  }
  h2{
    color:white;
  }
  h4{
    max-width:750px;
    margin:0 auto;
    color:rgba(255,255,255,0.6);
    font-size:20px;
    line-height:28px;
  }
  .page-heading{
    font-size:60px;
    line-height:60px;
    margin-bottom:20px;
  }
}



form{
  width:100%;
  margin:60px auto 0 auto;
  .col-1{
    width:98%;
    margin:0 1%;
  }
  .col-1-2{
    width:48%;
    margin:0 1%;
  }
  .field{
    margin-top:2%;
    &:first-child{
      margin:0;
    }
  }
  input{
    display:block;
    width:100%;
    padding:0 30px;
    height:60px;
    border:2px solid transparent;
    font-size:18px;
    border-radius:5px;
    -webkit-appearance:none;
    @include transition(border 0.8s $easeOutExpo);
    &:focus{
      outline:none;
      border-color:$light_blue;
    }
  }
  textarea{
    display:block;
    width:100%;
    padding:30px;
    height:200px;
    border:2px solid transparent;
    border-radius:5px;
    font-size:18px;
    line-height:24px;
    resize:none;
    @include transition(all 0.8s $easeOutExpo);
    &:focus{
      outline:none;
      border-color:$light_blue;
    }
  }
  &.contact-form{
    input{
      &:focus{
        outline:none;
        border-color:$light_purple;
      }
    }
    textarea{
      &:focus{
        outline:none;
        border-color:$light_purple;
      }
    }
  }
  .btn_primary{
    display:block;
    height:auto;
    background:#333;
    max-width:300px;
    font-size:18px;
    margin:60px auto 0 auto;
    -webkit-appearance:none;
  }
  
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

MEDIA QUERIES

–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width:1200px){

     .how-it-works{
      padding:0 0 120px 0;
      .container{
        max-width:650px;
      }
      img{
        width:100%;
        padding-right:60px;
      }
      .row{
        margin:60px 0;
      }
    }

    header{
      nav{
        right:20px;
      }
      .logo{
        left:20px;
      }
    }

    footer{
      padding:80px 20px;
    }

    .home-cta{
      padding:120px 20px;
      h1{
        font-size:35px;
        line-height:40px;
      }
    }
    .follow-rafl{
      margin:40px 0 0 0;
      i{
        font-size:60px;
        color:#999;
      }
      .follow-rafl-username{
        font-size:20px;
        line-height:30px;
        span{
           font-size:36px;
           margin-top:15px;
        }
      }
    }

    .hero{
      .hero-copy{
        h1{
          font-size:110px;
          line-height:100px;
          .superscript{
            font-size:55px;
          }
        }
      }
    }

    .static-page-layout,{
      padding:80px 20px 120px 20px;
      border-bottom:1px solid #ddd;
      h3{
        font-size:18px;
        line-height:23px;
      }
      h4{
        font-size:18px;
        line-height:26px;
      }
    }
    .form-layout{
      padding-top:170px;
      background:$blue;
      &.business-form-layout{
        background:$purple;
      }
      .container{
        max-width:960px;
      }
      h2{
        color:white;
      }
      h4{
        max-width:750px;
        margin:0 auto;
        color:rgba(255,255,255,0.6);
        font-size:20px;
        line-height:28px;
      }
      .page-heading{
        font-size:60px;
        line-height:60px;
        margin-bottom:20px;
      }
    }


}



@media (max-width:1024px){

  header{
    height:70px;
    nav{
      display:none;
    }
    .logo{
      top:20px;
      img{
        height:30px;
      }
    }
  }

   #mobile-nav-btn{
      display:block;
    }

  .home-cta{
      padding:80px 20px;
      h1{
        font-size:30px;
        line-height:35px;
      }
    }
    .follow-rafl{
      margin:40px 0 0 0;
      i{
        font-size:50px;
      }
      .follow-rafl-username{
        font-size:20px;
        line-height:30px;
        span{
           font-size:30px;
           margin-top:15px;
        }
      }
    }


    .business-grid{
      padding:80px 0 80px 0;
      border-bottom:1px solid #ddd;  
      h3{
        display:block;
        font-size:20px;
        text-align:center;
        color:#999;
        margin-top:80px;
        a{
          color:#333;
          @include transition(all 0.8s $easeOutExpo);
          &:hover{
            color:$purple;
          }
        }
      }
      .row{
        border-bottom:none;
        &:last-child{
          border:none;
          .col-1-4:last-child{
            border-right:1px dashed #ccc;
            border-bottom:none;
          }
        }
      }
      .col-1-4{
        text-align:center;
        padding:60px;
        border-right:1px dashed #ccc;
        width:50%;
        border-bottom:1px dashed #ccc;
        &:last-child{
          border-right:none;
        }
        img{
          display:block;
          width:100%;
          max-width:170px;
          margin:0 auto;
        }
      }
    }

     .hero{
      background:url(../img/hero_blue_480.jpg) no-repeat center;
      background-size:cover;
      .hero-copy{
        h1{
          font-size:75px;
          line-height:75px;
          .superscript{
            font-size:35px;
          }
        }
      }
    }

    .form-layout{
      padding-top:170px;
      background:$blue;
      &.business-form-layout{
        background:$purple;
      }
      .container{
        max-width:960px;
      }
      h2{
        color:white;
      }
      h4{
        max-width:750px;
        margin:0 auto;
        color:rgba(255,255,255,0.6);
        font-size:20px;
        line-height:28px;
      }
      .page-heading{
        font-size:50px;
        line-height:50px;
        margin-bottom:20px;
      }
    }




}


@media (max-width:768px){

  .page-hero{
    height:300px;
    .hero-copy{
      h1{
        font-size:60px;
        line-height:60px;
        sup{
          font-size:30px;
          line-height:30px;
          vertical-align:super;
        }
      }
    }
    &.how-it-works-hero{
       .hero-copy{
        h1{
          line-height:60px;
        }
      }
    }
    &.this-months-giveaway-hero{
        height:350px;
        padding-top:60px;
    }
  }


     .how-it-works{
      padding:0 20px 120px 20px;
      .container{
        max-width:480px;
      }
      img{
        display:block;
        width:100%;
        max-width:300px;
        margin:50px auto 0 auto;
        padding-right:0;
      }
      strong{
        width:50px;
        height:50px;
        font-size:24px;
        line-height:48px;
        margin:40px auto 10px auto;
      }
      .row{
        margin:30px 0;
        display:block;
        .col-1-2{
          width:100%;
          float:none;
          text-align:center;
        }
      }
    }

    .home-cta{
      h1{
        font-size:24px;
        line-height:30px;
      }
    }
    .follow-rafl{
      margin:30px 0 0 0;
      i{
        font-size:40px;
      }
      .follow-rafl-username{
        font-size:18px;
        line-height:28px;
        span{
           font-size:28px;
           margin-top:10px;
        }
      }
    }

    footer{
      text-align:center;
      .logo{
        float:none;
        margin-top:30px;
        .copyright{
          display:inline-block;
        }
      }
      .footer-nav{
        float:none;
        ul{
          float:none;
          margin-left:0;
          margin-bottom:30px;
          li{
            line-height:26px;
          }
        }
      }
    }

     .hero{
      .hero-copy{
        h1{
          font-size:60px;
          line-height:60px;
          .superscript{
            font-size:30px;
          }
        }
        h2{
          font-size:24px;
          line-height:28px;
          color:rgba(255,255,255,0.7);
        }
        .btn_primary{
          margin-top:60px;
          font-size:18px;
        }
      }
    }

    .static-page-layout{
      padding:80px 20px;
      h3{
        font-size:16px;
        line-height:21px;
      }
      h4{
        font-size:16px;
        line-height:21px;
      }
      p{
        font-size:16px;
        line-height:24px;
      }
      strong{
          font-size:16px;
          line-height:21px;
        }
      li{
        font-size:16px;
        line-height:24px;
      }
      section{
        padding:40px 0 0 0;
      }
    }

    .page-heading{
      font-size:30px;
      line-height:30px;
      margin-bottom:30px;
    }

    .form-layout{
      padding-top:130px;
      background:$blue;
      &.business-form-layout{
        background:$purple;
      }
      .container{
        max-width:960px;
      }
      h2{
        color:white;
      }
      h4{
        max-width:750px;
        margin:0 auto;
        color:rgba(255,255,255,0.6);
        font-size:18px;
        line-height:26px;
      }
      .page-heading{
        font-size:40px;
        line-height:40px;
        margin-bottom:20px;
      }
    }



}


@media (max-width:600px){

    .page-hero{
      height:250px;
      .hero-copy{
        h1{
          font-size:50px;
          line-height:50px;
          sup{
            font-size:25px;
            line-height:25px;
            font-weight:400;
            vertical-align:super;
          }
        }
      }
      &.how-it-works-hero{
         .hero-copy{
          h1{
            line-height:50px;
          }
        }
      }
      &.rules-hero{
        padding-top:80px; 
        height:200px; 
      }
    }

     .home-cta{
      h1{
        font-size:20px;
        line-height:26px;
      }
    }
    .follow-rafl{
      margin:30px 0 0 0;
      i{
        font-size:40px;
      }
      .follow-rafl-username{
        font-size:16px;
        line-height:20px;
        width:200px;
        margin:0 auto;
        span{
           font-size:28px;
           margin-top:15px;
        }
      }
    }


    .business-grid{
      padding:0px 0 0px 0;
      border-bottom:1px solid #ddd;
      h3{
        display:block;
        font-size:20px;
        text-align:center;
        color:#999;
        margin-top:80px;
        a{
          color:#333;
          @include transition(all 0.8s $easeOutExpo);
          &:hover{
            color:$purple;
          }
        }
      }
      .row{
        border-bottom:none;
        &:last-child{
          border:none;
        }
      }
      .col-1-4{
        text-align:center;
        padding:40px;
        border-right:1px dashed #ccc;
        width:100%;
        border-bottom:1px dashed #ccc;
        &:last-child{
          border-right:none;
        }
        img{
          display:block;
          width:100%;
          max-width:170px;
          margin:0 auto;
        }
      }
    }

    .hero{
      .hero-copy{
        h1{
          font-size:45px;
          line-height:45px;
          .superscript{
            font-size:22px;
            font-weight:400;
          }
        }
        h2{
          font-size:20px;
          line-height:24px;
          color:rgba(255,255,255,1);
        }
        .btn_primary{
          margin-top:30px;
          font-size:16px;
          padding:10px 20px;
          min-width:180px;
        }
      }
    }

    form{
      margin:40px auto 0 auto;
      .col-1{
        width:98%;
        margin:0 1%;
      }
      .col-1-2{
        width:48%;
        margin:0 1%;
      }
      input{
        padding:0 20px;
        font-size:16px;
      }
      textarea{
        padding:20px;
        font-size:16px;
      }
      .btn_primary{
        max-width:300px;
        font-size:18px;
        margin:40px auto 0 auto;
      }
      
    }


}


@media (max-width:480px){

    .page-hero{
      .hero-copy{
        h1{
          font-size:35px;
          line-height:35px;
          sup{
            font-size:18px;
            line-height:18px;
            vertical-align:super;
            font-weight:400;
          }
        }
      }
      &.how-it-works-hero{
        padding-top:70px;
         .hero-copy{
          h1{
            line-height:35px;
          }
        }
      }
      &.this-months-giveaway-hero{
          height:250px;
          padding-top:60px;
      }
    }

    .how-it-works{
      padding-bottom:60px;
      margin-top:-30px;
      h2{
        font-size:28px;
        line-height:33px;
      }
      p{
        font-size:16px;
        line-height:20px;
      }
      strong{
        width:40px;
        height:40px;
        font-size:20px;
        line-height:38px;
      }
      img{
        max-width:225px;
        margin:30px auto 0 auto;
      }
    }


    .hero{
      .hero-copy{
        h1{
          font-size:35px;
          line-height:35px;
          .superscript{
            font-size:18px;
            font-weight:400;
          }
        }
        h2{
          font-size:18px;
          line-height:22px;
          color:rgba(255,255,255,1);
        }
        .btn_primary{
          margin-top:30px;
          font-size:16px;
          padding:10px 20px;
          min-width:180px;
        }
      }
    }

    .static-page-layout{
      padding:40px 20px 60px 20px;
    }


    .page-heading{
      font-size:24px;
      line-height:24px;
      margin-bottom:30px;
    }


     .form-layout{
      padding-top:120px;
      h4{
        font-size:16px;
        line-height:22px;
      }
      .page-heading{
        font-size:26px;
        line-height:28px;
        margin-bottom:20px;
      }
    }

    form{
      margin:40px auto 0 auto;
      .col-1{
        width:98%;
        margin:0 1%;
      }
      .col-1-2{
        width:98%;
        margin:0 1% 2% 1%;
        &:last-child{
          margin-bottom:0;
        }
      }
      input{
        font-size:15px;
      }
      textarea{
        font-size:15px;
      }
      .btn_primary{
        max-width:250px;
        font-size:16px;
        margin:40px auto 0 auto;
      }
      
    }




}


