/*
Error: Invalid CSS after "...variables.scss'": expected "{", was ";"
        on line 2 of sass/main.scss

1: <<<<<<< HEAD
2: @import '_variables.scss';
3: =======
4: >>>>>>> a7ea594ebbbcead86f32b9a3bfdbc4b5c1a79688
5: @import '_mixins.scss';
6: @import '_globals.scss';
7: 

Backtrace:
sass/main.scss:2
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1120:in `tok!'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:656:in `block'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:649:in `ruleset'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:665:in `block_contents'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin.rb:109:in `method_missing'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/Users/pete/.rbenv/versions/2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
/Users/pete/.rbenv/versions/2.1.0/bin/sass:23:in `load'
/Users/pete/.rbenv/versions/2.1.0/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...variables.scss'\": expected \"{\", was \";\"\A         on line 2 of sass/main.scss\A \A 1: <<<<<<< HEAD\A 2: @import '_variables.scss';\A 3: =======\A 4: >>>>>>> a7ea594ebbbcead86f32b9a3bfdbc4b5c1a79688\A 5: @import '_mixins.scss';\A 6: @import '_globals.scss';\A 7: "; }
